.card-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
    padding: 16px; 
}


.card-container p-card {
    flex: 1 1 25rem; 
    max-width: 25rem;
}

.imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

:host ::ng-deep .p-button {
    background-color: #000; 
    font-weight: bold;
  }

:host ::ng-deep .p-button:hover {
    background-color: #000!important; 
}
